.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  img{
    width: 100px;
  }

  ul{
    display: flex;
    gap: 1.5rem;
    font-weight: 600;

    li a{
      color: var(--heading-color);
    }

    li a:hover{
      color: var(--theme);
    }
  }

  .search{
    display: flex;
    align-items: center;
    gap: 1rem;
  
    input{
      height: 2.5rem;
      background-color: var(--hover);
      border: 1px solid var(--border-gray);
      border-radius: .25rem;
      padding-left: 2rem;
      font-size: 1.10rem;
      color: var(--text-color);
    }

    input:active,
    input:focus{
      outline: none;
    }

    i{
      color: var(--heading-color);
      cursor: pointer;
    }
    
    i:nth-child(2){
      font-size: 1.30rem;
    }

    i:nth-child(3){
      font-size: 1.5rem;
      margin-left: .5rem;
    }

    input[type="search"]{
      background-image: url('../svg/search.svg');
      background-repeat: no-repeat;
      background-position: .5rem center;
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration{
      -webkit-appearance: none;
    }

    .bars i{
      font-size: 2rem;
      display: none;
    }
  }
}

.mobile-menu {
  background-color: var(--white-bg);
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all .2s ease;

  ul,
  .head{
    width: 80%;
    margin: 1rem auto 0 auto;
  }

  .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img{
    width: 100px;
  }

  i{
    font-size: 1.5rem;
  }

  ul li{
    margin-bottom: .75rem;
  }

  ul li a{
    color: var(--text-color);
  }
}