/*-------------
global css
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --border-gray: rgba(128, 128, 128, 0.2);
    --white-bg: #f8f7fd;
    --theme: #363D80;
    --text-color: rgb(84, 82, 96);
}

body{
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style-type: none;
}

/*-------------
header styles
-------------*/
.header img {
    width: 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.header ul{
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
}

.header ul li a:hover {
    color: var(--theme);
}

.header .search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .search input{
    height: 2.5rem;
    background-color: #f9fbfc;
    border: 1px solid var(--border-gray);
    border-radius: .25rem;
    padding-left: 2rem;
    font-size: 1.10rem;
}

.header .search input:active{
    outline: none;
}

.header .search input:focus {
    outline: none;
}

.header .search i:nth-child(2) {
    font-size: 1.30rem;
}

.header .search i:nth-child(3){
    font-size: 1.5rem;
    margin-left: .5rem;
}

.search input[type="search"] {
    background-image: url('../svg/search.svg');
    background-repeat: no-repeat;
    background-position: .5rem center;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.header .search .bars i{
    font-size: 2rem;
    display: none;
}

.mobile-menu {
    background-color: var(--white-bg);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all .2s ease;
}

.mobile-menu ul,
.mobile-menu .head {
    width: 80%;
    margin: 1rem auto 0 auto;
}

.mobile-menu .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu img{
    width: 100px;
}

.mobile-menu i{
    font-size: 2rem;
}

.mobile-menu ul li{
    margin-bottom: .75rem;
}


/*---------------
sidebar styles
---------------*/
.sidebar{
    width: 17rem;
    border-radius: .5rem;
    background-color: var(--white-bg);
}

.sidebar h1{
    font-size: 1.15rem;
    margin: 1rem 0 .75rem 1.5rem;
    font-weight: 500;
    background-color: #f5f7f9;
    color: var(--theme);
    font-weight: 600;
}

.sidebar h2{
    font-size: 1.05rem;
    margin-left: 1.5rem;
}

.sidebar ul{
    margin-bottom: .5rem;
}

.sidebar ul li{
    text-align: start;
    margin: .25rem 0 0 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.sidebar ul li .active-sign{
    background-color: var(--theme);
    width: 5px;
    height: 5px;
    margin-right: .5rem;
    border-radius: 100%;
    visibility: hidden;
}

.sidebar ul li.active .active-sign{
    visibility: visible;
}

.sidebar ul li.active{
    color: var(--theme);
}

/*------------------------
product container styles
------------------------*/
.product-container{
    width: 20rem;
    height: 20rem;
    background-color: var(--white-bg);
    border-radius: .5rem;
}

.product-container .product{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container .product img{
    width: 90%;
    border-radius: .25rem;
    margin: 1rem 0 0 0;
}

.product-container .product h1{
    margin: .25rem 0;
    font-size: 1.25rem;
}

.product-container .product p{
    text-align: center;
    width: 90%;
}

/*--------------
footer styles
--------------*/

.footer-component{
    background-color: var(--white-bg);
    border-radius: .25rem;
    padding: 2rem 0 0 0;
    margin-top: 50rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1rem;
    border-bottom: 1px black solid;
}

.footer p{
    color: var(--text-color);
}

.footer img{
    width: 6rem;    
}

.footer h1{
    font-size: 1.25rem;
}

.copyright p{
    text-align: center;
    margin-top: .5rem;
    padding-bottom: 2rem;
}