/*-------------
global css
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --border-gray: rgba(128, 128, 128, 0.2);
}

body{
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style-type: none;
}

/*-------------
header styles
-------------*/
.header img {
    width: 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.header ul{
    display: flex;
    gap: 1.5rem;
    font-weight: 600;
}

.header .search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .search input{
    height: 2rem;
    background-color: var(--bg-gray);
    border: 1px solid var(--border-gray);
    border-radius: .25rem;
}

.header .search input:active{
    outline: none;
}

.header .search input:focus {
    outline: none;
}

.header .search i:nth-child(2) {
    font-size: 1.30rem;
}

.header .search i:nth-child(3){
    font-size: 1.5rem;
    margin-left: .5rem;
}

/*---------------
sidebar styles
---------------*/
.sidebar{
    border: 1px solid var(--border-gray);
    width: 17rem;
    border-radius: .5rem;
    text-align: center;
}

.sidebar button{
    font-size: 1.25rem;
    border: 0;
    width: 85%;
    margin: 1rem auto 0 auto;
    padding: .5rem .75rem;
    font-weight: 500;
    border-radius: .35rem;
    text-align: start;
    background-color: #f5f7f9;
}

.sidebar ul{
    margin-top: 1rem;
}

.sidebar ul li{
    text-align: start;
    margin: 1rem 1.5rem 0 1.5rem;
    padding: 0 0 .75rem 1rem;
    border-bottom: 1px solid var(--border-gray);
}

p.browse-txt{
    margin: 1rem 0 1rem .5rem;
}