@media screen and (min-width: 600px) {
  .product-container{
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (max-width: 1070px) {
  .header ul{
    display: none;
  }

  .header .search .bars i {
    display: block;
  }

  .shop{
    flex-direction: column;
  }

}

@media screen and (max-width: 605px) {
  .header .search input,
  .header .search a {
    display: none;
  }

  .header .search .bars i {
    display: block;
  }

  .shop .item,
  .shop{
    flex-direction: column;
  }
  
  .sidebar,
  .product-container{
    width: 90%;
  }

  .product-container{
    width: 18rem;
    height: 18rem;
  }
}