.shop {
  display: flex;
  gap: 1rem;
}

.shop{
  .item {
    display: flex;
    gap: 1rem;
  }
} 

p.browse-txt {
  margin: 1rem 0 1rem .5rem;
  color: var(--heading-color);
}

p.head {
  color: var(--heading-color);
}